@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:  local('Open Sans'),
        local('OpenSans'),
        url(http://www.fonts.com/OpenSans.woff) format('woff');
}
